*,*::before,*::after{box-sizing:border-box;margin:0;padding:0}
html{height:100%;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:transparent}
body{font-family:var(--font);background:var(--bg);color:var(--text);min-height:100%;font-size:14px;line-height:1.5;-webkit-font-smoothing:antialiased;overscroll-behavior:none}
button{font-family:var(--font);cursor:pointer;border:none;background:none;outline:none}
input,select,textarea{font-family:var(--font);outline:none;border:none}
a{color:var(--gold);text-decoration:none}
::-webkit-scrollbar{width:3px;height:3px}
::-webkit-scrollbar-track{background:transparent}
::-webkit-scrollbar-thumb{background:var(--bg4);border-radius:3px}
::selection{background:var(--goldbg2);color:var(--gold)}
.hidden{display:none!important}
